<div class="container mt-4">
  <h1>About</h1>
  <div class="mt-2">
    <div class="card" style="width: 18rem">
      <img
        src="public/img/avatar.jpg"
        class="card-img-top"
        height="256"
        alt="profile picture"
        style="object-fit: cover"
      />
      <div class="card-body">
        <h5 class="card-title">Rose</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </div>
</div>
