<div class="container mt-4">
  <h1>Contact</h1>
  <% if(!cont.length) { %>
    <p>Contact is empty</p>
  <% } else { %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
          <% cont.map((item,index)=>{ %>
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><%= item.name %></td>
            <td><%= item.email %></td>
          </tr>
          <% }) %>
      </tbody>
    <% } %>
  </table>
</div>
