    <div class="container mt-4">
      <div class="bg-light p-5 rounded">
        <div class="jumbotron">
          <h1>Contact</h1>
          <ol>
            <% if(!cont.length) { %>
              <p>Contact is empty</p>
            <% } else { %> 
              <% cont.map((item)=>{ %>
                <li>
                  Name: <%= item.name %> <br />
                  Email: <%= item.email %>
                </li>
                <br />
              <% }) %> 
            <% } %>
          </ol>
        </div>
      </div>
    </div>