<div class="container mt-4">
  <div class="bg-light p-5 rounded">
    <div class="col-sm-8 mx-auto">
      <h1>Hello World</h1>
      <!-- call variable name from server -->
      <p>Welcome to my page <%= name%></p>
    </div>
  </div>
</div>